.feedBbutton {
  width: 100px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 20px;
  background-color: #76d9f2;
  -webkit-box-shadow: 7px 9px 14px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 7px 9px 14px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 7px 9px 14px 0px rgba(0, 0, 0, 0.31);
}

.feedBbuttonGroup {
  display: inline-block;
}
.feedBbutton:first-child {
  margin-left: 20px;
}

.feedBbutton:hover {
  color: #1538d5;
  background-color: #4fc7e5c1;
}
